<section class="about-page">
    <div class="container">
        <div class="about-intro">
            <div class="about-image">
                <img src="rewell.jpeg" alt="Rewell Munene - Profile Picture" />
            </div>
            
        </div>

        <div class="about-details">
            <div class="section-title">
                <h2>My Story</h2>
            </div>
            <p>My journey into the world of development began with a fascination for how technology can solve real-world problems. This curiosity led me to explore various programming languages and frameworks, ultimately igniting a deep passion for creating functional and aesthetically pleasing applications.</p>
            <p>Over the years, I've honed my skills through hands-on projects, continuous learning, and a commitment to staying up-to-date with the latest industry trends. I thrive on challenges and enjoy the process of transforming ideas into tangible digital solutions.</p>
            <p>When I'm not coding, you can find me exploring new technologies, contributing to open-source projects, or sharing my knowledge with others through blogging and mentoring. I believe in the power of collaboration and am always eager to connect with fellow developers and tech enthusiasts.</p>
            <p>My goal is to create impactful applications that enhance user experiences and drive positive change. I'm excited about the future of technology and look forward to being a part of its evolution.</p>
            <p>Thank you for visiting my portfolio! Feel free to explore my projects and reach out if you'd like to collaborate or discuss potential opportunities.</p>
            <p>Best regards,</p>
            <p>Rewell Munene</p>
            <p>Software Developer</p>
        </div>

        

        <div class="about-contact">
            <div class="section-title">
                <h2>Let's Connect!</h2>
            </div>
            <p>I'm always open to new opportunities and collaborations. Feel free to reach out if you have any questions, project ideas, or just want to connect.</p>
            <p>You can find me on:</p>
            <ul class="social-links">
                <li><a href="https://www.linkedin.com/in/rewell-munene-7633b4232" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                <li><a href="https://github.com/account" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                <li><a href="https://riwenamu@gmail.com" target="_blank" rel="noopener noreferrer">Gmail</a></li>
            </ul>
        </div>
    </div>
</section>