<footer class="footer">
  <div class="footer-content">
    <span>&copy; {{ currentYear }} Rewell Munene. All rights reserved.</span>
    <span class="footer-links">
      <a
        href="https://github.com/rewellnamu"
        target="_blank"
        aria-label="GitHub"
        >GitHub</a
      >
      <span>|</span>
      <a
        href="https://www.linkedin.com/in/rewell-munene-7633b4232"
        target="_blank"
        aria-label="LinkedIn"
        >LinkedIn</a
      >
      <span>|</span>
      <a href="mailto:riwenamu@gmail.com" aria-label="Email">Email</a>
    </span>
  </div>
</footer>
