<nav class="navbar">
  <div class="logo">
    <img src="bg/542322477_18519632902018542_1381975457738715263_n.jpg" alt="Walking Person Animation" class="walk-animation" />
    <!-- <span>DEVELOPER</span> -->
    <span>FOUNDER TISTI GROUP</span>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/graphics">Graphics</a></li>
    <li><a routerLink="/certificates">Info</a></li>
    <li><a routerLink="/skills">Skills</a></li>
  </ul>
  <app-theme-toggle></app-theme-toggle>
</nav>
