<section class="home">
  <div class="container">
    <div class="text-content">
      <h1><span class="highlight">REWELL MUNENE</span></h1>
      <h2 class="title">Full Stack Developer | Software Developer</h2>
      <p class="tagline">
        I design and develop responsive full-stack applications focused on exceptional user experience.
        <br />
        Passionate about software engineering and digital security.
        <br />
        Continuously learning and adopting new technologies to enhance my expertise.
        <br />
        Eager to embrace new challenges and growth opportunities.
        <br />
        Collaborative team player committed to achieving shared goals.
      </p>
      <div class="buttons">
        <a class="btn primary" routerLink="/projects">View Projects</a>
        <a class="btn secondary" routerLink="/contact">Contact Me</a>
      </div>
    </div>
    <div class="image-content">
      <img src="rewell.jpeg" alt="Profile Picture" class="profile-img" />
    </div>
  </div>
</section>
