<section class="home">
  <div class="container">
    <div class="scrolling-text">
      <span>{{ scrollingText }}</span>
    </div>
    <div class="text-content">
      <h1><span class="highlight">REWELL MUNENE</span></h1>
      <h2 class="title">IT Specialist | Full-Stack Software Developer</h2>
      <p class="tagline">
        ✔ I build responsive full-stack applications with great user experience.
        <br />
        ✔ I am passionate about graphic designs.
        <br />
        ✔ I am a problem solver hence I love to learn new technologies.
        <br />
        ✔ I am always looking for new challenges and opportunities to grow.
        <br />
        ✔ I am a team player and I enjoy collaborating with others.
      </p>
      <div class="buttons">
        <a class="btn primary" routerLink="/projects">View Projects</a>
        <a class="btn secondary" routerLink="/contact">Contact Me</a>
      </div>
    </div>
    <div class="image-content">
      <img src="REWE.png" alt="Profile Picture" class="profile-img" />
      <div class="social-links">
        <a
          href="https://github.com/rewellnamu"
          target="_blank"
          aria-label="GitHub"
        >
          <img src="social/icons8-github-32.png" alt="GitHub" />
        </a>
        <a
          href="https://www.linkedin.com/in/rewell-munene-7633b4232"
          target="_blank"
          aria-label="LinkedIn"
        >
          <img src="social/icons8-linkedin-48.png" alt="LinkedIn" />
        </a>
        <a
          href="https://www.instagram.com/munene_rewell/"
          target="_blank"
          aria-label="Instagram"
        >
          <img src="social/icons8-instagram-48.png" alt="Instagram" />
        </a>
        <a
          href="https://www.facebook.com/rewell.munene"
          target="_blank"
          aria-label="Facebook"
        >
          <img src="social/icons8-facebook-48.png" alt="Facebook" />
        </a>
      </div>
    </div>
  </div>
</section>
