<div *ngIf="isLoading" class="preloader">
  <!-- Example: spinner animation -->
  <!-- <div class="spinner"></div> -->
  
  <!-- Or replace with GIF/Video -->
  <img src="bg/0819.gif" style="width: 20%; height: 20%; border-radius: 100px" alt="Loading..." />
  <!-- <video autoplay muted loop>
      <source src="assets/loader.mp4" type="video/mp4">
  </video> -->
</div>

<div [class.hidden]="isLoading" class="main-content">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
